/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #f08023;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* For Firefox */
/* You may need to add this for Firefox compatibility */
* {
    scrollbar-width: thin;
    scrollbar-color: #f08023 #f1f1f1;
}

/* For Edge and Internet Explorer */
/* You may need to add this for Edge/IE compatibility */
body {
    scrollbar-width: thin;
    scrollbar-color: #f08023 #f1f1f1;
}
